@import "./sizing-function";

.fontsize-12 {
  font-size: convert-rem(12px);
}

.fontsize-14 {
  font-size: convert-rem(14px);
}

.fontsize-18 {
  font-size: convert-rem(18px);
}

.fontsize-20 {
  font-size: convert-rem(20px);
}